.intro-container{
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF8E3;
  clip-path: inset(0vh 0px 0px 0px);
  animation-name: wipe-away;
  animation-delay: .5s;
  animation-duration: 3s;
  animation-fill-mode: forwards;

}

@keyframes wipe-away {
  from {}
  to {clip-path: inset(0px 0px 100vh 0px);}
}

.intro-macka-logo {
  height: 30vmin;
}



