@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.container{
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 208, 0);
  clip-path: inset(100vh 0px 0px 0px);
  animation-name: wipe-in;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes wipe-in {
  from {}
  to {clip-path: inset(0px 0px 0vh 0px);}
}

.macka_logo {
  height: 18vh;
  margin-block-start: 60px;
}

ul{
  margin-block-start: 60px;
  margin-bottom: 0;
  text-align: center;
  list-style: none;
  padding:0;
  overflow: scroll;
  width: 100vw;
  -ms-overflow-style: none;  /* IE and Edge hide scrollbar */
  scrollbar-width: none;  /* Firefox hide scrollbar */
}

ul::-webkit-scrollbar {
  display: none; /* chromw hide scrollbar */
}

li{
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  margin-bottom:30px;
  -webkit-text-stroke: 2px #00C0FF;
  -webkit-text-fill-color: rgb(255, 208, 0);
}

li:hover{
  -webkit-text-stroke: 2px #FF00E4;
}
