.container{
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF8E3;
  clip-path: inset(100vh 0px 0px 0px);
  animation-name: wipe-in;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.container_no_animation{
  position: fixed;
  left:0;
  top:0;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF8E3;
  clip-path: none;
  animation-name: none;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes wipe-in {
  from {}
  to {clip-path: inset(0px 0px 0vh 0px);}
}

.macka_logo {
  height: 18vh;
  max-width: 85vw;
  margin-block-start: 60px;
}

ul{
  margin-bottom: 0;
  margin-block-start: 60px;
  text-align: center;
  list-style: none;
  padding:0;
  overflow: scroll;
  width: 100vw;
  -ms-overflow-style: none;  /* IE and Edge hide scrollbar */
  scrollbar-width: none;  /* Firefox hide scrollbar */
}

ul::-webkit-scrollbar {
  display: none; /* chromw hide scrollbar */
}

li{
  margin-bottom: 30px;
}

.menu_item{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4em;
  margin-bottom:30px;
  color: #a5bf97;
  text-decoration: none;
}

.menu_item:hover{
  color: #f7941d;
}


@media only screen and (max-width: 900px){
  .menu_item{
    font-size: 3em;
  }
  ul{
    margin-block-start: 50px;
  }
  .macka_logo {
    margin-block-start: 50px;
  }

}

@media only screen and (max-width: 640px){
  .menu_item{
    font-size: 2em;
  }
  ul{
    margin-block-start: 30px;
  }
  .macka_logo {
    margin-block-start: 30px;
  }
}

@media only screen and (max-width: 450px){
  .menu_item{
    font-size: 1.2em;
  }
  ul{
    margin-block-start: 10px;
  }
  .macka_logo {
    margin-block-start: 10px;
  }
}