.container{
    height: 100vh;
    width: 100vw;
}

nav{
    height: 100vh;
    width: 280px;
    float: left;
}

.content{
    width: calc(100vw - 280px);
    height: 100vh;
    background-color: #a5bf97;
    float: right;
    display: flex;
}

.gallery{
    flex:3;
}

.text{
    flex:2;
}